<!DOCTYPE html>
<html>

<head>
	<title>自定义私有指令</title>
	<script type="text/javascript" src="vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head>

<body>
	<div id="app">
		<h1 v-color="'red'" v-fontWeight="'100'" v-fontSize="'100'">自定义私有指令</h1>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">添加品牌</h3>
			</div>
			<div class="panel-body form-inline">
				<label>
					Id:
					<input type="text" class="form-control" v-model="id">
				</label>
				<label>
					Name:
					<input type="text" class="form-control" v-model="name" @keyup.f2="add">
				</label>
				<!-- 如果add添加了括号就可以传参数如 add('1') -->
				<input type="button" value="添加" class="btn btn-primary" @click="add">
				<label>
					搜索名称关键字:
					<input type="text" class="form-control" v-model="keywords" v-focus v-color="'blue'">
				</label>
			</div>
		</div>

		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Ctime</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<!-- 循环的时候可以传方法 -->
				<tr v-for="item in search(keywords)" :key="item.id">
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.ctime | dateFormat }}</td>
					<td>
						<a href="" @click.prevent="del( item.id )">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
	 	// 自定义一个设置字体的颜色
		Vue.directive('color', {
			// 样式的定义一般在 bind 中，Js 的行为一般定义在 inserted
			bind: function (el, binding) {
				// el.style.color = 'red'
				// 可以使用第二个参数 binding 获取指令的值
				// name：指令的名称  value：计算后的值  expression：原始的值
				el.style.color = binding.value
				console.log(binding.value)
				console.log(binding.expression)
			}
		})
		// 使用 Vue.directive 自定义全局指令
		// 其中参数1：指令的名称，定义指令时不需要 v- 但使用时需要 v-
		// 参数2：是一个对象
		Vue.directive('focus', {
			bind: function (el) { // 每当指令绑定到元素上的时候，立即执行这个 bind 函数，只执行一次

			},
			inserted: function (el) { // 元素插入到 DOM 树时执行，只执行一次
				el.focus()
			},
			updated: function (el) { // 当 VNode 更新时执行，可能执行多次

			}
		})
		// 系统自定义按键：enter esc tab up right down left
		// 自定义全局按键修饰符
		Vue.config.keyCodes.f2 = 113

		// ES6 function 的参数可以设置默认值，如：pattern = ''
		Vue.filter('dateFormat', function (dateStr, pattern = '') {
			var dt = new Date(dateStr)
			var y = dt.getFullYear()
			var m = (dt.getMonth() + 1).toString().padStart(2, '0')
			var d = dt.getDate().toString().padStart(2, '0')
			if (pattern.toLowerCase() === 'yyyy-mm-dd') {
				return `${y}-${m}-${d}`
			} else {
				var hh = dt.getHours().toString().padStart(2, '0')
				var mm = dt.getMinutes().toString().padStart(2, '0')
				var ss = dt.getSeconds().toString().padStart(2, '0')
				return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
			}
		})
		var vm = new Vue({
			el: '#app',
			data: {
				id: '',
				name: '',
				keywords: '',
				list: [
					{ id: '1', name: '奔驰', ctime: new Date() },

					{ id: '2', name: '宝马', ctime: new Date() }
				]
			},
			methods: {
				add() {
					var car = { id: this.id, name: this.name, ctime: new Date() }
					this.list.push(car)
					this.id = this.name = ''
				},
				del(id) {
					// this.list.some((item, i) => {
					// 	if(item.id == id) {
					// 		this.list.splice(i, 1)
					// 		// 在some方法中，如果return true会立即终止这个数组的循环
					// 		return true;
					// 	}
					// })
					var index = this.list.findIndex(item => {
						if (item.id == id) {
							return true;
						}
					})
					// splice() 移除数组中的元素
					this.list.splice(index, 1)
				},
				search(keywords) {
					/*
					var newList = []
					this.list.forEach(item => {
						if(item.name.indexOf(keywords) != -1) {
							newList.push(item)
						}
					});
					*/
					var newList = this.list.filter(item => {
						// includes() 方法是ES6的新方法
						if (item.name.includes(keywords)) {
							return item;
						}
					})
					return newList;
				}
			},
			directives: {
				'fontweight': {
					bind: function(el, binding) {
						el.style.color = 'red'
						el.style.fontWeight = binding.value
						console.log(binding.value)
					}
				},
				'fontSize': function(el, binding) { // 这个方法等同于把代码写到了 bind 和 updated 里
					alert()
					el.style.fontSize = parseInt(binding.value) + 'px'
				}
			}
		})
	</script>
</body>

</html>